{% extends 'base.html.twig' %}

{% block title %}Trabzondmt Admin Panel{% endblock %}

{% block stylesheets %}
    {{ vite_entry_link_tags('admin') }}
{% endblock %}

{% block body %}
<div id="root">

</div>
{% endblock %}

{% block javascripts %}
    {{ vite_entry_script_tags('admin') }}
{% endblock %}
