{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ vite_entry_link_tags('app') }}
{% endblock %}


{% block body %}
    <div id="root">
    </div>
    <script id="date" type="application/json">{{ date|raw }}</script>
    <script id="events" type="application/json">{{ events|raw }}</script>
{% endblock %}

{% block javascripts %}
    {{ vite_entry_script_tags('app') }}
{% endblock %}
