@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}

::-webkit-scrollbar {
    width: 0; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}

/*Start Shortcuts*/
.my-shadow {
    @apply shadow-lg shadow-blue-gray-900/5
}

/*End Shortcuts*/

/*Start body*/
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: background-color 0.5s;
}

/*End body*/

/* Start WeeklyTimeline.tsx */
@keyframes view {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.timeline-item {
    animation: view 0.5s;
}

/* End WeeklyTimeline.tsx */

